<h1>履歷列表</h1>

<table>
    <tr>
        <td></td>
        <td>姓名</td>
        <td>信箱</td>
        <td>電話</td>
        <td>簡歷</td>
        <td>city</td>
        <td>學歷</td>
        <td>作品集</td>
    </tr>
</table>

<!-- link_to 等於用 a 標籤跳轉 -->
<%= link_to '新增' , '/resumes/new'  %>  
<!-- <a href="/candidates/new">Add Candidate</a> -->

